.testimonial {
  width: 100%;
  height: auto;
  background-color: white;
  color: #464444;
  border-radius: 20px;
  font-family: Poppins;
  position: relative;
  padding: 0px 30px 25px 0px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.testimonial:hover{
  transform: scale(1.01);
  transition: 0.2s;
}
.testimonial-left-bottom {
  width: 73px;
  height: 71px;
  border-radius: 0px 10px 50px 8px;
  box-shadow: rgba(41, 35, 43, 0.35) 0 0px 5px 1px inset;
  position: relative;
}
.testimonial-left-top {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: -24px;
}
.testimonial-img-1 {
  max-width: 90px;
}
.name-designation-rating {
  float: left;
  color: #00abe4;
}
.name {
  font-weight: bold;
  text-align: left;
}
.designation {
  font-size: 13px;
}
.testimonial-rating {
  font-size: 13px;
  float: left;
  margin-left: 5px;
}
.testimonial-star-img {
  float: left;
  padding-top: 2px;
}

.testimonial-left-bottom {
  float: left;
}
.hangout-img-div {
  float: right;
  position: absolute;
  top: -19px;
  left: 75%;
}
.testimonial-text-content {
  text-align: justify;
  font-size: 13px;
  margin-top: 90px;
}
